In [1]:
import gender_guesser.detector as gender
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
df = pd.read_csv("orders-2018-03-05-20-34-17.csv")
df = df.drop(['Order Status', 'Customer Note',
       'First Name (Billing)', 'Last Name (Billing)', 'Company (Billing)',
       'Address 1&2 (Billing)', 'City (Billing)', 'State Code (Billing)', 'Postcode (Billing)', 'Country Code (Billing)', 'Email (Billing)', 'Phone (Billing)', 'Coupon Code', 'Discount Amount', 'Discount Amount Tax', 'Shipping Method Title', 'Payment Method Title', 'Cart Discount Amount', 'Order Subtotal Amount', 'Order Shipping Amount', 'Order Refund Amount', 'Order Total Tax Amount',], axis=1)
df.head()

,Order Number,Order Date,First Name (Shipping),Last Name (Shipping),Address 1&2 (Shipping),City (Shipping),State Code (Shipping),Postcode (Shipping),Country Code (Shipping),Item #,SKU,Name,Quantity,Item Cost,Order Total Amount
0,6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,1,face-clearcreek,Clear Creek Cleanser - 8.5 oz (250mL),1,24.0,175.44
1,6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,2,NaN,Watergirl Toner,1,14.0,175.44
2,6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,3,NaN,Flower Power Eye Creme,1,23.0,175.44
3,6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,4,NaN,Standing Fern and Cornblossom Red Oil,1,25.0,175.44
4,6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,5,face-sloppykiss,Sloppy Kiss Facial Moisturizer,1,18.0,175.44

In [5]:
df = df.groupby('Order Number').first().sort_values('Order Date', ascending=False)
df.head()

,Order Date,First Name (Shipping),Last Name (Shipping),Address 1&2 (Shipping),City (Shipping),State Code (Shipping),Postcode (Shipping),Country Code (Shipping),Item #,SKU,Name,Quantity,Item Cost,Order Total Amount
Order Number,,,,,,,,,,,,,,
6333,2018-03-05 15:15,Jennifer,Williams,1264 Pimlico Dr,Cookeville,TN,38506,US,1,face-clearcreek,Clear Creek Cleanser - 8.5 oz (250mL),1,24.0,175.44
6328,2018-03-01 21:31,Janet,Sale,704 Potters Falls Rd.,Wartburg,TN,37887,US,1,PS-musclefever,Muscle Fever,1,15.0,41.37
6327,2018-03-01 13:30,Barbara,Smith,1140 Glades Road,Sunbright,TN,37872,US,1,NaN,Standing Fern and Cornblossom Red Oil,1,25.0,32.65
6326,2018-03-01 04:53,Darrell,Beeler,426 North Roane St,Harriman,TN,37748,US,1,NaN,Standing Fern and Cornblossom Red Oil,1,25.0,32.65
6324,2018-02-28 16:24,Kimberly,Gullett,1195 Dearing Rd,Memphis,TN,38117,US,1,face-naturegirl,Nature Girl Facial Scrub,1,19.0,66.44

## Geographics

In [11]:
geo_df = pd.read_csv('Demographic_Statistics_By_Zip_Code.csv')
print(geo_df.columns)

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE',
       'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
       'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
       'COUNT PACIFIC ISLANDER', 'PERCENT PACIFIC ISLANDER',
       'COUNT HISPANIC LATINO', 'PERCENT HISPANIC LATINO',
       'COUNT AMERICAN INDIAN', 'PERCENT AMERICAN INDIAN',
       'COUNT ASIAN NON HISPANIC', 'PERCENT ASIAN NON HISPANIC',
       'COUNT WHITE NON HISPANIC', 'PERCENT WHITE NON HISPANIC',
       'COUNT BLACK NON HISPANIC', 'PERCENT BLACK NON HISPANIC',
       'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY',
       'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN',
       'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL',
       'COUNT PERMANENT RESIDENT ALIEN', 'PERCENT PERMANENT RESIDENT ALIEN',
       'COUNT US CITIZEN', 'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS',
       'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
       'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE',
       'PERCENT RECEIVES PUBLIC ASSISTANCE',
       'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN',
       'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

In [13]:
print(geo_df.columns)
geo_df = geo_df.drop(['COUNT FEMALE',
        'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
        'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
        'COUNT PACIFIC ISLANDER','COUNT HISPANIC LATINO','COUNT AMERICAN INDIAN',
        'COUNT ASIAN NON HISPANIC','COUNT WHITE NON HISPANIC','COUNT BLACK NON HISPANIC',
        'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY',
        'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN',
        'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL',
        'COUNT PERMANENT RESIDENT ALIEN','COUNT US CITIZEN',
        'COUNT OTHER CITIZEN STATUS',
        'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
        'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
        'PERCENT CITIZEN STATUS TOTAL','COUNT RECEIVES PUBLIC ASSISTANCE',
        'COUNT NRECEIVES PUBLIC ASSISTANCE','COUNT PUBLIC ASSISTANCE UNKNOWN',
        'PERCENT PUBLIC ASSISTANCE UNKNOWN',
        'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL',], axis=1)
geo_df.head()

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE',
       'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
       'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
       'COUNT PACIFIC ISLANDER', 'PERCENT PACIFIC ISLANDER',
       'COUNT HISPANIC LATINO', 'PERCENT HISPANIC LATINO',
       'COUNT AMERICAN INDIAN', 'PERCENT AMERICAN INDIAN',
       'COUNT ASIAN NON HISPANIC', 'PERCENT ASIAN NON HISPANIC',
       'COUNT WHITE NON HISPANIC', 'PERCENT WHITE NON HISPANIC',
       'COUNT BLACK NON HISPANIC', 'PERCENT BLACK NON HISPANIC',
       'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY',
       'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN',
       'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL',
       'COUNT PERMANENT RESIDENT ALIEN', 'PERCENT PERMANENT RESIDENT ALIEN',
       'COUNT US CITIZEN', 'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS',
       'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
       'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE',
       'PERCENT RECEIVES PUBLIC ASSISTANCE',
       'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN',
       'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

,JURISDICTION NAME,COUNT PARTICIPANTS,PERCENT PACIFIC ISLANDER,PERCENT HISPANIC LATINO,PERCENT AMERICAN INDIAN,PERCENT ASIAN NON HISPANIC,PERCENT WHITE NON HISPANIC,PERCENT BLACK NON HISPANIC,PERCENT PERMANENT RESIDENT ALIEN,PERCENT US CITIZEN,PERCENT RECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE
0,10001,44,0.0,0.36,0.0,0.07,0.02,0.48,0.05,0.95,0.45,0.55
1,10002,35,0.0,0.03,0.0,0.80,0.17,0.00,0.06,0.94,0.06,0.94
2,10003,1,0.0,0.00,0.0,1.00,0.00,0.00,0.00,1.00,0.00,1.00
3,10004,0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,10005,2,0.0,0.00,0.0,0.50,0.00,0.50,0.50,0.50,0.00,1.00